.info{
    background-color: rgb(247, 247, 247);
    margin-top: 4%;
    margin-left: 30%; 
    text-align: center;
}

.avatar{

    width: 150px;
    height: 150px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

    box-shadow: 10px 10px 16px -5px rgba(0,0,0,0.75);
}

.h1Profile{
    color: white;
}